
{% extends "customer/profile/profile.html" %}
{% load staticfiles %}
{% load i18n %}
{% load display_tags %}
{% load currency_filters %}
{% block customheadend %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block profile_breadcrumbs %}
    <section class="breadcrumb-list mt-100">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0">
                    <li class="breadcrumb-item"><a href="{{homepage_url}}" class="color-primary">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'customer:summary' %}" class="color-primary">Accounts</a></li>
                    <li class="breadcrumb-item active">Order History</li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock profile_breadcrumbs %}

{% block profile_content %}

    <div class="profile-content">
        {% block profile_heading %}
        <h4>Orders</h4>
        {% endblock %}

        {% include "oscar/partials/alert_messages.html" %}

            {% if orders or form.is_bound %}
                <div class="well">
                    <h5>{% trans "Filter" %}</h5>
                    <form method="get" class="form-horizontal">
                        {% include "oscar/partials/form_fields.html" with form=form style='horizontal' %}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Filtering...' %}">{% trans 'Filter results' %}</button>
                                <a href="{% url 'customer:order-list' %}" class="btn btn-default">{% trans 'Reset' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% if orders %}
                <h5>{{ form.description }}</h5>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>{% trans "Order number" %}</th>
                        <th>{% trans "Num items" %}</th>
                        <th>{% trans "Total inc tax" %}</th>
                        <th>{% trans "Date submitted" %}</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td><a href="{% url 'customer:order' order_number=order.number %}">{{ order.number }}</a></td>
                            <td>{{ order.num_items }}</td>
                            <td>{{ order.total_incl_tax|currency:order.currency }}</td>
                            <td>{{ order.date_placed }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% include "oscar/partials/pagination.html" %}
            {% else %}
                {% if form.is_bound %}
                    <p>{% trans "No orders match your search." %}</p>
                {% else %}
                    <p>{% trans "You haven't placed any orders." %}</p>
                {% endif %}
            {% endif %}

    </div>
{% endblock profile_content %}

{% block custombodyend %}
    {{block.super}}
    <script>
        $(document).ready(function(){
            $('#id_date_from').prop('type','date');
            $('#id_date_to').prop('type','date');
            $('.profile-content button').addClass('btn-red');
            $('.profile-content button').removeClass('btn-lg');
            $('.form-horizontal').addClass("d-flex");
            $('.form-group').addClass("col-lg-3 col-12");
            $('.form-group div.col-sm-7').removeClass("col-sm-7");
            $('.form-group label.col-sm-4').removeClass("col-sm-4");
            $('.form-group div.col-sm-offset-4').removeClass("col-sm-offset-4");
            $('.form-group div.col-sm-8').removeClass("col-sm-8");
            
        });
    </script>
{% endblock %}