{% comment %} {% comment %} {% load form_tags %}
{% load widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}

    {% block control_group %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">

            {% block label %}
                {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                    {% if field.label == "State/County" %}
                    <label for="id_state" class="control-label">
                        State
                    </label>
                    {%else%}
                    <label for="{{ field.auto_id }}" class="{% if style|default:"stacked" != 'stacked' %}col-sm-4{% endif%} control-label{% if field.field.required %} required{% endif %}">
                        {{ field.label|safe }}
                    </label>
                    {%endif%}
                {% endif %}
            {% endblock %}

            {% block controls %}
                <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-7{% endif %}">
                    {% block widget %}
                        {% if field.widget_type == 'CheckboxInput' %}
                            <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required{% endif %}">
                                {{ field.label|safe }}
                                {% render_field field class+="form-control" %}
                            </label>
                        {% else %}
                            {% if field.name == 'phone_number' %}
                                <div class="form-input" style="display: none;">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                <div class="form-input">
                                    {% if field.value.national_number%}
                                    <input type="tel" class="form-control" required oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" id="mobile_number_2" {% if field.value %}value="{{field.value.national_number}}"{% endif %}>
                                        {%else%}
                                        <input type="tel" class="form-control" required oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" id="mobile_number_2" {% if field.value %}value="{{field.value|cut:'+91'}}"{% endif %}>

                                    {%endif%}
                                </div>
                            {%else%}
                            {% render_field field class+="form-control" %}
                            {%endif%}
                            
                        {% endif %}
                    {% endblock %}

                    {% block errors %}
                        {% for error in field.errors %}
                            <span class="error-block" style="color:red"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    {% endblock %}
                    {% if not field.errors %}
                    {% block help_text %}
                        {% if field.help_text %}
                            <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                        {% endif %}
                    {% endblock %}
                    {%endif%}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}

