{% load static %}
<header class="header_bx">
    <!-- Navbar -->    
    <nav class="navbar navbar-expand-lg">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="javascript:void(0);">
                <img src="{% static 'new_templates_assets/images/logo_wth_bg.svg' %}" style="max-height: 70px;" />            
            </a>       
            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">Our Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">About Us</a>
                        </li>
                    </ul>
                    <div class="nav-search">                         
                        <div class="th_bag_c nav-small-cart-btn">
                            <a href="javascript:void(0);">
                                <i class="ri-shopping-cart-2-line"></i>                                      
                            </a>                     
                            <span class="cntr">1</span>                            
                        </div>
                        <div class="btn-group cstmmyactn">
                            <button type="button" class="btn btn-cstm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="ttname">
                                    <svg width="24" height="24" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="#fff" fill-rule="evenodd"><path d="m5.948 6.447c0 1.861 1.552 3.369 3.467 3.369 1.914 0 3.466-1.509 3.466-3.369 0-1.862-1.552-3.37-3.466-3.37-1.915 0-3.467 1.509-3.467 3.37m8.289 5.682c-.121-.041-.245-.075-.37-.102 0 0-1.153-.456-4.367-.456-3.214 0-4.367.456-4.367.456-1.735.343-3.133 2.108-3.133 3.878v2.095h9.357c-.229-.525-.357-1.105-.357-1.714 0-2.01 1.377-3.689 3.237-4.157m.215 5.623l.55.555.532-.573 2.973-3.2c.282-.303.264-.778-.039-1.06-.303-.282-.778-.264-1.06.039l-2.406 2.486-.698-.528c-.292-.294-.766-.297-1.061-.005-.294.292-.297.766-.005 1.061l1.213 1.225" fill="#fff"></path></g></svg>
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">My Profile</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">My Cart</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">My Order</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Logout</a></li>      
                            </ul>
                        </div>
                    </div>

                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>