{% extends 'oscar/dashboard/layout.html' %}

{% load i18n %}
{% load staticfiles %}
{% load image_tags %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "FAQS" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:question_create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> {% trans "Add New FAQS" %}   </a>
        
        
    
        <h1>{% trans "FAQS" %}</h1>
    </div>

{% endblock header %}

{% block dashboard_content %}

    <div class="table-header">
        <h2><i class="icon-file icon-large"></i>{{ queryset_description }}</h2>
    </div>


    {% if object_list %}
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Is Active</th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.sys_id}}</td>
                           
                            <td>
                                {{ object.question|safe|striptags}} 
                            </td>
                            <td>
                                {{object.answer|safe|striptags}}
                            </td>
                            <td>
                                {{object.is_active}}
                            </td>
                           
                           
                            
                            <td>
                                <form method="post" id="delete-form-{{forloop.counter}}">
                                    {% csrf_token %}
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                                {% trans "Actions" %}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <input type="hidden" name="question" value="{{object.id}}">
                                               
                                                <li><a id="edit_page_{{ object.id }}" href="{% url 'dashboard:question_update' pk=object.id %}">{% trans "Edit" %}</a></li>
                                                <li><a id="delete_page_{{ object.id }}" role="button" onclick="document.getElementById('delete-form-{{forloop.counter}}').submit();">{% trans "Delete" %}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              <li class="current" style = "margin-left : 600px; ">
                {% blocktrans with page_num=page_obj.number total_pages=paginator.num_pages %}
                    Page {{ page_num }} of {{ total_pages }}
                {% endblocktrans %}
                </li>
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}
    {% else %}
        <table class="table table-striped table-bordered table-hover">
            <tr><td>{% trans "No pages found." %}</td></tr>
        </table>
    {% endif %}


 

    

{% endblock dashboard_content %}



{% block extrascripts %}
{{ block.super }}
{% endblock %}