{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    
    <meta name="theme-color" content="#16be48" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="icon" type="image/x-icon" href="{% static 'website/images/favicon.png' %}">

    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=12; IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- <meta name="google-site-verification" content="Ni8osyY-7NTITf6mPbdoi78FOiKz38Wb9_z7_EObDoo" /> -->
  
    <meta name="HandheldFriendly" content="true">  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="no"> 
  
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0.2)"> 
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0.2)"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="facebook-domain-verification" content="lrqm5752p3cywubcjwltsu9mjfsvox" />




    <title>India's 1st Personalized & Most Healthist Superfood Mix | 100% Natural Health Nutrition Online | Instaeats</title>
    <link rel="canonical" href="https://instaeats.in">
    <meta property="og:site_name" content="InstaEats">
    <meta property="og:url" content="https://instaeats.in" />    
    <meta property="og:title" content="India's 1st Personalized & Most Healthist Superfood Mix | 100% Natural Health Nutrition Online | Instaeats" />
    <meta property="og:type" content="website" />
    <meta name="description" content="100% Natural Health Nutrition Online | Get The Healthiest, Specific, Quantified And Easy To Carry Superfood Mix For Daily Nutrition & Lifestyle Disease Management | Get Set & Shop Online Now.">
    <meta property="og:description" content="100% Natural Health Nutrition Online | Get The Healthiest, Specific, Quantified And Easy To Carry Superfood Mix For Daily Nutrition & Lifestyle Disease Management | Get Set & Shop Online Now." />
    
    <meta property="og:image" content="https://instaeats.in/static/website/images/thumshare.jpg?v=105" />
    <meta property="og:image:secure_url" content="https://instaeats.in/static/website/images/thumshare.jpg?v=105"/>






    {% block seo %}
    
    <title>India's 1st Personalized & Most Healthist Superfood Mix | 100% Natural Health Nutrition Online | Instaeats</title>
        <meta name="title" content=""/>
        <meta name="description" content="100% Natural Health Nutrition Online | Get The Healthiest, Specific, Quantified And Easy To Carry Superfood Mix For Daily Nutrition & Lifestyle Disease Management | Get Set & Shop Online Now."/>
        <meta name="keywords" content=""/>

    {% endblock %}
    <!-- <link rel="stylesheet" href="{% static 'website/css/remixicon.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="preload" as="style"  onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style"  onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="preload" as="style"  onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style"  onload="this.onload=null;this.rel='stylesheet'" href="{% static 'website/css/stylesheet.css' %}">
    <link rel="preload" as="style"  onload="this.onload=null;this.rel='stylesheet'" href="{% static 'website/css/responsive.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'website/css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/slick-theme.css' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <!-- Google Tag Manager -->

    <script>
        (
            function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P5KKSKR'
        );

        
        // if (location.href.indexOf("www")<0)
        // {
        //     location.href = 'https://instaeats.in';
        // };

    </script>

    <!-- End Google Tag Manager -->
    
    <meta name="google-site-verification" content="WwIv6OjW6ujWh6m_yZcBZ69WEVsumQ7AZOzTUtSin-o" />
    
    
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>  -->
    {% block customheadend %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock content %}
    <!-- pop-up section for add to cart -->

    <!-- <div class="offcanvas offcanvas-end rightcstm_modal add-popup" tabindex="-1" id="cartmodal"
        aria-labelledby="offcanvasRightLabel">
        <div class="modal-header">
            <h5>Your Cart <span class="popup_cart_lenn" id="popup_cart_len">({{ request.basket.all_lines|length }})</span></h5>
            <button type="button" class="btn-close text-reset closebtn" data-bs-dismiss="offcanvas" aria-label="Close"
                id="closepopup">
                <img src="{% static 'website/images/ic_cross.png' %}" alt="">
            </button>
        </div> -->
        <!-- <div class="modal-body">
            <div class="cartlisting line-list-container" id="line-list-container">


            </div>
            <div class="bottom-buttonbx">
                <a class="btn_fill" href="{% url 'catalogue:product_list' %}">Continue Shopping</a>
                <a class="btn_outline" href="{% url 'checkout:checkout' %}">Proceed To Checkout</a>
            </div>
        </div> -->
    <!-- </div> -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5KKSKR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



    <!-- <a href="https://wa.me/19958277105" target="_blank" class="whatsappbtn"> -->

    <a href="https://wa.me/message/RHP6IYMKD4MMD1" target="_blank" class="whatsappbtn">
        <i class="ri-whatsapp-line"></i>
        <span>👋 Get in Touch With us on Whats app 🤗</span>
    </a>


    <a href="javascript:void(0);" class="scrollTop scrollup" style="display: none;">
        <i class="ri-arrow-up-s-line"></i>        
    </a>

    <!-- <script src="{% static 'website/js/jquery.min.js' %}"></script> -->
    <script src="{% static 'website/js/lazy_loading.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
    
    <script type="text/javascript" src="{% static 'website/js/slick.min.js' %}"></script>


    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "dkagm5o3nb");
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KWN2DF9');</script>
    <!-- End Google Tag Manager -->
    
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWN2DF9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Meta Pixel Code -->

    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1821529321521596');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1821529321521596&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->






    
    {% block custombodyend %}{% endblock %}

    <script>
        $(window).on("load", function () {
            console.log('abc')            
            setTimeout(function() {                                
                $('#preloader').hide();
            }, 800);
           
        });


        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
        $('a.scrollTop').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });

    
      
        
        $(document).ready(function () {

           
            $("#id_user_mobile_number").keyup(function(e){                    
                   

            // $("input").keyup(function(){  

                var dd_phone_number = $('#id_user_mobile_number').val();
                if (dd_phone_number.length < 1) {
                        $('#id_user_mobile_number').addClass('invalid');
                }else{
                        $('#id_user_mobile_number').removeClass('invalid');
                }
                if(e.keyCode==13){
                    $('#lgnankbtn').click();
                }
            });

            $("#id_otp").keyup(function(e){                    
                if(e.keyCode==13){
                    $('#usr-verify-otp').click();
                }
            });

            $("#id_user_register_mobile_number").keyup(function(e){                    
                if($("#id_user_register_mobile_number").val() && e.keyCode==13){
                    $('#id_frst_name').trigger('focus');
                }
            });

            $("#id_frst_name").keyup(function(e){                    
                if($("#id_user_register_mobile_number").val() && $("#id_user_register_mobile_number").val() && e.keyCode==13){
                    $('#id_register_email').trigger('focus')
                }
            });

            $("#id_register_email").keyup(function(e){                    
                if(e.keyCode==13){
                    $('.signup_validation').click();
                    
                }
            });

            $("#id_register_otp").keyup(function(e){                    
                if(e.keyCode==13){
                    $('.user-register-verify-otp').click();
                    
                }
            });
            // $('.preloader').fadeOut('slow')

            $('#clsbtnm').on('shown.bs.modal', function () {
                $('#lgnflowmodal').trigger('focus');                
            })


            $('#clsbtnm').click(function () {                
                $('#lgnflowmodal').modal('toggle')
                $('.modal-backdrop').hide();                
                $('#otpmdl_register').hide();
                $('body').removeClass('modal-open');                
            });

            
            $('#lgnankbtn').click(function () {
                
                $('#name_errmsg').html('');
                $('#errmsg').html('');
                if ($('#id_user_mobile_number').val().length == 10){
                    OtpGenerate();
                    var moNumber = $('#id_user_mobile_number').val()
                    $('#id_user_login_mobile_number').val(""+moNumber)
                    // $('#otpmdl_n').show();
                    // $('#lgn_mdl').hide();    
                    $('#id_frst_name').val('');
                    $('#id_register_email').val('');


                }
                else if ($('#id_user_mobile_number').val().length > 1 & $('#id_user_mobile_number').val().length < 10 ){
                    $('#mbb-error').removeClass('d-none');
                    $('#mb-error').addClass('d-none');
                    $('#errmssg').html('');
                }
                else if ($('#id_user_mobile_number').val().length < 1){
                    $('#mbb-error').addClass('d-none');
                    $('#mb-error').removeClass('d-none');
                    $('#errmssg').html('');
                }
            
            });
            $('.edtbtn').click(function () {
                // debugger;
                $('#lgn_mdl').show();
                $('#otpmdl_n').hide();
                $('#crtmdl_n').hide();
                $('#otpmdl_register').hide();
                $('#id_otp').val('');
                $('#otperrmsg').text('');
                $('#mbb-error').addClass('d-none');
                $('#mb-error').addClass('d-none');
             
                
            });

            $('#crtantank').click(function () {
                console.log('hey');
               
                $('#id_user_register_mobile_number').focus();

                $('#crtmdl_n').show();
                $('#otpmdl_n').hide();
                $('#lgn_mdl').hide();
        
            });

            $('#crtantankk').click(function () {
                console.log('hey')
                $('#crtmdl_n').show();
                $('#otpmdl_n').hide();
                $('#lgn_mdl').hide();
            });

            $('#crtantankkk').click(function () {
                console.log('hey')
                $('#crtmdl_n').show();
                $('#otpmdl_n').hide();
                $('#lgn_mdl').hide();
            });

            $('#lgnmdl_n').click(function () {
                $('#crtmdl_n').hide();
                $('#otpmdl_n').hide();
                $('#lgn_mdl').show();
                $('#crtmdl_n').hide();  
                $('#mbb-error').addClass('d-none');
                $('#mb-error').addClass('d-none');              
            });


            var lgnflowEl = document.getElementById('lgnflowmodal');
            if (lgnflowEl){
                // $('#id_user_mobile_number').trigger('focus');
                lgnflowEl.addEventListener('hidden.bs.modal', function (event) {
                    $('#id_user_login_mobile_number').val('');
                    $('#crtmdl_n').hide();
                    $('#errmsgg').text(``);
                    $('#errmsg').text(``);
                    $('#popup-form').get(0).reset();
                    $('#otpmdl_n').hide();
                    $('#lgn_mdl').show();    
                    $('#mbb-error').addClass('d-none');
                    $('#mb-error').addClass('d-none');  
                    $('#otperrmsg').text(''); 
                    $('#errmesg').text('');
                    $('#name_errmsg').text('');
                 
                    // $('.user-verify-otp').hide();
                });
            }

            // {% if messages %}
            // setTimeout(function () {
            //     $('#staticBackdrop').modal('show');
            // }, 100);

            // {% endif %}

            $('a#closepopup').click(function () {
                $('.add-popup').hide();
            });

            $('.nav-small-cart-btn').click(function () {
                console.log('hello');
                $('.add-popup').show();
            });

        $('#resend-otp-btn').click(function () {
            OtpGenerate();
        });

        

        var OtpGenerate = function(){
            $('#user-login-model').removeClass('d-none');
            $('#lgnankbtn').addClass('d-none');
            var dd_phone_number = "+91"+$('#id_user_mobile_number').val();
            var res_phone_number = $('#id_user_mobile_number').val();
            $.ajax({
                type : "post",
                url : "/accounts/api/v1/generate-otp.json",
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                data : {
                    "mobile_number":"+91"+$('#id_user_mobile_number').val(),
                    "purpose": "login"
                    },
                success : function(success) {
                    $('#user-login-model').addClass('d-none');
                    $('#lgnankbtn').removeClass('d-none');
                    $('#lgn_mdl').hide();
                   
                    $('#errmssg').html('');
                    $('#mb-error').html('');
                    console.log(success)
                    
                    if(success.status==true){
                        $('#otpmdl_n').show();
                        $('input#id_otp').focus();                        
                        console.log("success");
                        $('#custom_error').html('');
                        $('#custom_text').html(`${success.text}`);
                       
                        $('#password-block').addClass("d-none");
                        $('#otp-btn').addClass("d-none");
                    }
                    else if(success.text == "There is no account with this mobile number"){
                        $('#id_user_register_mobile_number').val(res_phone_number);
                        registerCustomer();
                        // $('#crtmdl_n').show();
                        // $('#otpmdl_n').hide();
                        
                        // $('#id_frst_name').show();
                        // $('#id_register_email').show();
                        // $('.register_submit').show();
                        // $('.login_submit').hide();
                        // $('#custom_error').html(`${success.text}`);
                        // $('#custom_text').html('');
                    }

                    else{

                        $('#id_first_name').show();
                        $('#id_email').show();
                        $('.register_submit').show();
                        $('.login_submit').hide();
                        $('#custom_error').html(`${success.text}`);
                        $('#custom_text').html('');

                    }
                },
                error: function(error) {
                    $('#user-login-model').addClass('d-none');
                    $('#lgnankbtn').removeClass('d-none');
                    console.log(error)
                    $('#mb-error').html('');
                    $('#otpmdl_n').hide();
                    $('#lgn_mdl').show();
                    // There is no account with this mobile number
                    // if (error.text) {
                    //     $('#errmssg').html(error.text);
                    // }
                    // if (error.responseText) {
                    //     $('#errmssg').html(error.responseText);
                    // }
                    if(error.responseJSON && error.responseJSON.mobile_number){
                        $('#errmssg').html(error.responseJSON.mobile_number[0]);
                    }
                    
                    // if (dd_phone_number.length < 1) {
                    //         $('#id_user_mobile_number').addClass('invalid');
                    // }else{
                    //         $('#id_user_mobile_number').removeClass('invalid');
                    // }

                  
                    // $('#custom_error').html(`${error.text}`);
                    // $('#custom_text').html('')
                    
                },
            });
            
        } 

       

        $('.user-verify-otp').click(function(){
            otpValidate();
        });


        var otpValidate = function(){
            $('#user-vf-login-model').removeClass('d-none');
            $('#usr-verify-otp').addClass('d-none');
            $.ajax({
                type : "post",
                url : "/accounts/api/v1/validate-otp.json",
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                data : {
                    "mobile_number":"+91"+$('#id_user_mobile_number').val(),
                    "otp":$('#id_otp').val(),
                    // "purpose": "login"
                    },
                success : function(success) {
                    $('#user-vf-login-model').addClass('d-none');
                    $('#usr-verify-otp').removeClass('d-none');
                    if(success.status){
                        
                        console.log("success");
                       
                        location.reload()
                    
                    }
                  
                },
                error: function(error) {
                    $('#user-vf-login-model').addClass('d-none');
                    $('#usr-verify-otp').removeClass('d-none');
                    console.log(error);
                    // console.log(error.responseJSON.otp[0])
                    // console.log(error.responseJSON)
                    // console.log(error.responseJSON.text)
                    if(error.responseJSON.detail){
                        $('#otperrmsg').html(`${error.responseJSON.detail}`);
                    }
                    else if(error.responseJSON.text){
                        $('#otperrmsg').html(`${error.responseJSON.text}`);
                    }
                    else if(error.responseJSON.otp[0]){
                        $('#otperrmsg').html(`${error.responseJSON.otp[0]}`);
                    }
                    else{
                        $('#otperrmsg').html(``);
                    }
                    // $('#otperrmsg').html(error.responseJSON.detail)
                    
                },
            });
        }

        // $('.signup_validation').click(function(){
        //     registerCustomer();
        //     $('#name_errmsg').html('');
        //     $('#errmsg').html('');
        // });


        var registerCustomer = function(){
            $('#user-vf-signup-model').removeClass('d-none');
            $('#user_signup_validation').addClass('d-none');
            var mobN = "+91"+$('#id_user_register_mobile_number').val();
            $.ajax({
                type : "post",
                url : "/accounts/api/v1/user-add.json",
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                data : {
                    "mobile_number":"+91"+$('#id_user_register_mobile_number').val(),
                    // "first_name":$('#id_frst_name').val(),
                    // "email":$('#id_register_email').val(),
                   
                    },
                success : function(response) {
                    $('#user-vf-signup-model').addClass('d-none');
                    $('#user_signup_validation').removeClass('d-none');
                    $('#crtmdl_n').hide();
                    $('#otpmdl_register').show();
                    $('#id_user_r_mobile_number').val(mobN)
                
                },
            
                error: function(error) {
                    $('#user-vf-signup-model').addClass('d-none');
                    $('#user_signup_validation').removeClass('d-none');
                    console.log(error)
                    console.log(error.responseJSON.mobile_number);
                    console.log(error.responseJSON.email);

                    if(error.responseJSON.email){
                        $('#errmsg').html(error.responseJSON.email);
                    }
                    if(error.responseJSON.first_name){
                        $('#name_errmsg').html(error.responseJSON.first_name);
                    }
                    console.log(mobN.length)
                    if(mobN.length < 4){
                        $('#errmsgg').text("This field may not be blank.");
                    }
                   
                    else {
                        $('#errmsgg').html(error.responseJSON.mobile_number);
                    }
                  
                   
                },
            });
        }


        $('.user-register-verify-otp').click(function(){
            otpRegisterValidate();
        });


        var otpRegisterValidate = function(){
            $.ajax({
                type : "post",
                url : "/accounts/api/v1/validate-otp.json",
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                data : {
                    "mobile_number":"+91"+$('#id_user_register_mobile_number').val(),
                    "otp":$('#id_register_otp').val(),
                    // "purpose": "login"
                    },
                success : function(success) {
                    if(success.status){

                        console.log("success");
                       
                        location.reload()
                        location.href = `${location.origin}`
                    
                    }
                  
                },
                error: function(error) {
                    console.log(error);
                    if(error.responseJSON.detail){
                        $('#errmesg').html(`${error.responseJSON.detail}`);
                    }
                    else if(error.responseJSON.text){
                        $('#errmesg').html(`${error.responseJSON.text}`);
                    }
                    else if(error.responseJSON.otp[0]){
                        $('#errmesg').html(`${error.responseJSON.otp[0]}`);
                    }
                    else{
                        $('#errmesg').html(``);
                    }
                    // $('#errmesg').html('')
                    
                },
            });
        }



        });

        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 50) {
                $(".header").addClass("top-fixed");
            } else {
                $(".header").removeClass("top-fixed");
            }
        });


        var owl = $('#slider');
        owl.owlCarousel({
            margin: 0,
            loop: false,
            items: 1,
            dots: true,
            //   nav: true,
            //   navText: ["<i class='ri-arrow-left-s-line'></i>","<i class='ri-arrow-right-s-line'></i>"],
        });

        
        $('#FeaturedProducts').slick({
                infinite: false,
                slidesToShow: 4,
                slidesToScroll:4,                        
                dots: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1.5,
                            slidesToScroll: 1.5
                        }
                    }                    
                ]

                // autoplay: true,
                // autoplaySpeed: 2000,                
            });

        // var owl = $('#FeaturedProducts');
        // owl.owlCarousel({
        //     margin: 10,
        //     items: 3,            
        //     dots: true,            
        //     responsive: {
        //           0:{
        //             loop: true,
        //               items: 1.5
        //             },
        //             480:{
        //                 loop: true,
        //                 items: 1.5
        //             },
        //             769:{
        //                 loop: true,
        //                 items: 3
        //             },
        //             980:{
        //                 loop: false,
        //                 items: 4
        //             }
        //         }           
        // });

        // var owl = $('#dssfmpslider');
        // owl.owlCarousel({
        //     margin: 10,
        //     items: 4,
        //     loop: false,
        //     dots: true,
        //     responsive: {
        //         0: {
        //             loop: false,
        //             items: 1.5,                    
        //         },
        //         480: {
        //             loop: false,
        //             items: 1.5,
                    
        //         },
        //         769: {
        //             loop: false,
        //             items: 3
        //         },
        //         980: {
        //             loop: false,
        //             items: 3
        //         },
        //         1400: {
        //             loop: false,
        //             items: 4
        //         }

        //     }
        // });






        var owl = $('.cstm_slider_ecom');
        owl.owlCarousel({
            margin: 10,                        
            dots: true,
            responsive: {
                0: {                    
                    loop: true,
                    items: 1.5,                    
                },
       
                768: {
                        loop: false,
                        items: 4
                    },
                1400: {
                    loop: false,
                    items: 4
                }
            }              
        });

        

        $(document).ready(function(){      
            $('.prdnewslider').slick({
                infinite: false,
                // slidesToShow: 1.5,
                // slidesToScroll: 1.5,        
                dots: true,                
                // autoplay: true,
                // autoplaySpeed: 2000,                
                slidesToShow: 5,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 2,
                            dots: false,
                        }
                    }
                ]

            });








            // if ($(window).width() < 990) {
            //             // alert('mobile 3');
                        
            //             $('.prdnewslider').slick({
            //                 infinite: false,
            //                 slidesToShow: 1.5,
            //                 slidesToScroll: 1.5,        
            //                 dots: true,                
            //                 // autoplay: true,
            //                 // autoplaySpeed: 2000,                
            //             });

            //         } 
        });


        




        
        var owl = $('#tdn_slider');
        owl.owlCarousel({
            margin: 15,
            loop: false,
            items: 3,
            dots: false,
            nav: true,
            navText: ["<i class='ri-arrow-left-s-line'></i>", "<i class='ri-arrow-right-s-line'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                769: {
                    items: 3
                }
            }
        });


        var owl = $('#mofsldr');
        owl.owlCarousel({
            margin: 0,
            loop: false,
            items: 3,
            dots: true,
            responsive: {
                0: {
                    items: 1,
                    dots: true,
                },
                480: {
                    items: 1,
                    dots: true,
                },
                769: {
                    items: 3
                }
            }
        });
        var owl = $('#wca_owl');
        owl.owlCarousel({
            margin: 15,
            loop: false,
            items: 3,
            dots: true,
            responsive: {
                0: {
                    items: 1,
                    dots: true,
                },
                480: {
                    items: 1,
                    dots: true,
                },
                769: {
                    items: 3
                }
            }
        });
    </script>


  <!-- Modal -->
  <!-- <div class="modal fade" id="assssmentfrm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close clsbtnc" data-bs-dismiss="modal" aria-label="Close"></button>
            
            <div class="defiform">
            <div class="modal_head text-center">
            <h5 class="modal-title">Deficiency Assessment Form</h5>
            <p>Please Complete the step to get the accurate result</p>
            <div class="process crt_ad_proc">
                <ul  class="process-row nav nav-tabs">
                    <li class="active">
                        <a class="btn_n" href="javascript:void(0)">
                            <span class="activepro">1 </span>
                        </a>
                    </li>
                    <li class="">
                        <a class="btn_n" href="javascript:void(0)">
                            <span>2</span>
                        </a>
                    </li>
                    <li class=""><a class="btn_n" href="javascript:void(0)">
                        <span>3</span>
                        </a>
                    </li>
                    <li  class="">
                        <a class="btn_n" href="javascript:void(0)">
                            <span>4</span>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>

        <div class="assesm_content">
            <h4><span>1.</span> Feel out your basic details</h4>
            <div class="pt-2">
                <p>Age</p>
                <ul class="age_detl">
                    <li>
                        <label class="modalradio"> 0 - 16
                            <input type="radio" checked="checked" name="radio">
                                <span class="radiomark"></span>
                            </label>
                    </li>
                    <li>
                        <label class="modalradio">17 - 40
                            <input type="radio" checked="checked" name="radio">
                                <span class="radiomark"></span>
                            </label>
                    </li>
                    <li>
                        <label class="modalradio">41 - 70
                            <input type="radio" checked="checked" name="radio">
                                <span class="radiomark"></span>
                            </label>
                    </li>
                    <li>
                        <label class="modalradio"> 70 - 100
                            <input type="radio" checked="checked" name="radio">
                                <span class="radiomark"></span>
                            </label>
                    </li>                        
                </ul>
            </div>


            <div class="pt-2">
                <p>Gender</p>
                <ul class="gen_detl">
                    <li>
                        <label class="modalradio">Male
                        <input type="radio" checked="checked" name="radio">
                            <span class="radiomark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="modalradio">Female
                        <input type="radio" checked="checked" name="radio">
                            <span class="radiomark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="modalradio">Other
                        <input type="radio" checked="checked" name="radio">
                            <span class="radiomark"></span>
                        </label>
                    </li>
                                          
                </ul>
            </div>



            <div class="pt-2">
                <p>Medicine Condition</p>
                
                   <div class="medi_con"> 
                <ul class="med_detl">
                    <li>
                        <label class="checkd_b">Chronic fatigue
                            <input type="checkbox" checked="checked">
                            <span class="check_icon"></span>
                          </label>
                    </li>
                    <li>
                        <label class="checkd_b">Chronic fatigue
                            <input type="checkbox" checked="checked">
                            <span class="check_icon"></span>
                          </label>
                    </li>
                    <li>
                        <label class="checkd_b">Chronic fatigue
                            <input type="checkbox" checked="checked">
                            <span class="check_icon"></span>
                          </label>
                    </li>
                    <li>
                        <label class="checkd_b">Chronic fatigue
                            <input type="checkbox" checked="checked">
                            <span class="check_icon"></span>
                          </label>
                    </li>                        
                </ul>
            
            
                <ul class="med_detl">
                    <li>
                        <label class="checkd_b">Confusion
                            <input type="checkbox" checked="checked">
                            <span class="check_icon"></span>
                          </label>
                    </li>
                    <li>
                        <label class="checkd_b">Confusion
                            <input type="checkbox" checked="checked">
                            <span class="check_icon"></span>
                          </label>
                    </li>
                    <li>
                        <label class="checkd_b">Confusion
                            <input type="checkbox" checked="checked">
                            <span class="check_icon"></span>
                          </label>
                    </li>
                    <li>
                        <label class="checkd_b">Confusion
                            <input type="checkbox" checked="checked">
                            <span class="check_icon"></span>
                          </label>
                    </li>                        
                </ul>
            </div>
            
            </div>

            <div class="asses_btn">
                <a href="javascript:void(0);" class="btn" id="new">Continue</a>
                <a href="javascript:void(0);" class="btn back">Back</a>
            </div>
            <div class="asess_img">
                <img src="images/agirl.png" alt="">
            </div>

        </div>
    </div>
    <div class="modalthank">
        <div class="modal-head">
            <img src="images/logo.png">
            <p>Nourishing the world</p>
        </div>

        <div class="thank_con text-center">
            <i class="ri-checkbox-circle-line"></i>
            <h2>Thankyou</h2>
            <p>The questionnaire has been submitted successfully. Please click on the download button and get your vitamin assessment report.</p>
            <div class="thank_btn">
                <a href="javascript:void(0);" class="btn "data-bs-toggle="modal" data-bs-target="#reportModal" id="hidethank"><i class="ri-download-2-line"></i>Download Report</a>
            </div>
            <div class="thank_img">
                <img src="images/agirl.png" alt="">
            </div>

        </div>
    </div>

    
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assssmentfrm">
    Launch demo modal
  </button> -->

</body>

</html>