{% extends "customer/profile/profile.html" %}
{% load i18n %}
{% load display_tags %}

{% block profile_breadcrumbs %}
   
    <section class="breadcrumb">
        <div class="container">
            <div class="brdcmbx">
                <div class="brd-d">
                    <h3>Change Password</h3>
                    <ul class="br_submenu">
                        <li><a href="{{homepage_url}}">Home</a></li>
                        <li><a href="{% url 'customer:summary' %}">Accounts</a></li>
                        <li>Change Password</li>
                    </ul>
                </div>                                     
            </div>
        </div>
    </section>
{% endblock profile_breadcrumbs %}

{% block profile_content %}



<div class="edt_form">
    {% block profile_heading %}
    <div class="edt_head">
        <div class="eh_name"><h3 class="ttl_name">Change Password</h3></div>
        <div class="eh_btn"></div>
    </div>

   <div class="chnge_pass">
   
           <div class="chnge_pass_form">
            {% endblock %}
            {% include "oscar/partials/alert_messages.html" %}
            {% include 'partials/address_form.html' with form_id="change_password_form" %}
            
            <!-- <div class="form-group">
                <label class="ttl-n">Old Password</label>
                <input type="password" class="form-control" placeholder="Old Password">
            </div> -->
             

        <!-- <div class="chnge_pass_btn">
            <a href="javascript:void(0);" class="chnge_save">Save</a>
            <a href="javascript:void(0);" class="chnge-can">Cancel</a>

        </div> -->
           </div>
      
   </div>
    
   
</div>









  




{% endblock profile_content %}

{% block custombodyend %}
    {{block.super}}
    <script>
    $(document).ready(function(){
        $('.profile-content button').addClass('btn-red');
        $('.profile-content button').removeClass('btn-lg');
    });
    </script>
{% endblock %}