{% extends "frame.html" %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load i18n %}
{% load display_tags %}

{% block page-content %}
    <section class="breadcrumb-list mt-100">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0">
                    <li class="breadcrumb-item"><a href="{{homepage_url}}" class="color-primary">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'customer:password-reset' %}" class="color-primary">Password Reset</a></li>
                    <li class="breadcrumb-item ">{% trans 'Complete' %}</li>
                </ol>
            </nav>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 password-form mx-auto">
                    <h3>{% trans "Password reset complete" %}</h3>
                    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                    <p><a href="{{ login_url }}" class="btn btn-red">{% trans 'Log in' %}</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock page-content %}

{% block custombodyend %}
	<script>
        $(document).ready(function(){
        // js for fix navbar at the top
            $('.header').addClass('scrolled');
			$( ".hamburger" ).hide();
			$( ".cross" ).hide();
			$( ".scrolledMenu" ).show();
			$( ".headerMenu" ).hide();
			$( ".hamburger" ).hide();
			$( ".cross" ).hide();
			location.pathname == '/catalogue/product/' ? $('#active-item').addClass('active-category') : $('#active-item').removeClass('active-category');
        });
	</script>
{% endblock %}