{% extends "frame.html" %}
{% load staticfiles %}
{% load image_tags %}
{% load i18n %}

{% block page-content %}
{% block customheadend %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

{% endblock %}

    <div class="main">
        <div class="container-fluid">
            <div class="signup-content p-0">
                <div class="signup-img">
                    <img src="{% static 'images/signup-img.png'%}" alt="">
                </div>
                <div id="login-section">
                        <div class="register-form"><h3>Email Sent</h3>
                        <p>
                        {% blocktrans %}
                            We've e-mailed you instructions for resetting your password. You should be receiving it shortly.
                        {% endblocktrans %}
                        </p>
                        <p>
                        {% blocktrans %}
                            If you don't receive an email, please make sure you've entered the address you registered with, and check
                            your spam folder.
                        {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock page-content %}

 {% block custombodyend %}
    <!-- JS -->
    <script src="{% static 'js/register.js'%}"></script>
    <script>
        $(document).ready(function(){
        // js for fix navbar at the top
            $('.header').addClass('scrolled');
			$( ".hamburger" ).hide();
			$( ".cross" ).hide();
			$( ".scrolledMenu" ).show();
			$( ".headerMenu" ).hide();
			$( ".hamburger" ).hide();
			$( ".cross" ).hide();
			location.pathname == '/catalogue/product/' ? $('#active-item').addClass('active-category') : $('#active-item').removeClass('active-category');
        });
	</script>
{% endblock %}


