{% extends "frame.html" %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load i18n %}
{% load display_tags %}

{% block page-content %}
    <section class="breadcrumb-list mt-100">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0">
                    <li class="breadcrumb-item"><a href="{{homepage_url}}" class="color-primary">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'customer:password-reset' %}" class="color-primary">Password Reset</a></li>
                    <li class="breadcrumb-item ">{% trans 'Enter a new password' %}</li>
                </ol>
            </nav>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 password-form mx-auto">
                    <h3>{% trans 'Enter a new password' %}</h3>
                    {% if validlink %}
                        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                        <form id="password_reset_form" method="post">
                            {% csrf_token %}
                            {% include 'oscar/partials/form_fields.html' %}
                            <div class="form-group form-actions">
                                <button class="btn btn-red" type="submit" data-loading-text="{% trans 'Changing...' %}">{% trans 'Change my password' %}</button>
                            </div>
                        </form>
                    {% else %}
                        <h1>{% trans 'Password reset unsuccessful' %}</h1>
                        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock page-content %}

{% block custombodyend %}
	<script>
        $(document).ready(function(){
        // js for fix navbar at the top
            $('.header').addClass('scrolled');
			$( ".hamburger" ).hide();
			$( ".cross" ).hide();
			$( ".scrolledMenu" ).show();
			$( ".headerMenu" ).hide();
			$( ".hamburger" ).hide();
			$( ".cross" ).hide();
			location.pathname == '/catalogue/product/' ? $('#active-item').addClass('active-category') : $('#active-item').removeClass('active-category');
        });
	</script>
{% endblock %}