{% load static %}
{% load image_tags %}

<section class="bhhamtbpws_bx section_pdng">
    <div class="container">
        <div class="head m-auto mb-5 text-center w-75">
            <h3>{{middle_object.heading}}</h3>
        </div>
        <div class="hham_stepbx">
            <div class="hham_step_r">
                <h3>30%</h3>
                <p>{{middle_object.title}} </p>
            </div>
            <div class="hham_step_r">
                <h3>50K+ </h3>
                <p>Young Women Die Each Year In Pregnancy & Childbirth Due To IDA. </p>
            </div>
            <div class="hham_step_r">
                <h3>80%</h3>
                <p>of Adolescents in India Suffer From "Hidden Hunger", </p>
            </div>
            <!-- <div class="hham_step_r">
                <h3>135M+</h3>
                <p>Or One Out Of Every Four People Being Overweight Or Obese.</p>
            </div> -->
            <div class="hham_step_r">
                <h3>65M+</h3>
                <p>People Living With Diabetes, and the Annual Coronary Deaths Are Expected To Reach 4 Million in 2030.</p>
            </div>
            <div class="hham_step_r">
                <h3>3.2 L+ </h3>
                <p>330,000 Child Deaths Are Precipitated Every Year In India Due To Vitamin A Deficiency.</p>
            </div>
            <div class="hham_step_r">
                <h3>1 in 5</h3>
                <p>Estimated (20%) Indian Women Suffer From PCOS. </p>
            </div>
            <!-- <div class="hham_step_r">
                <h3>42M+</h3>
                <p>People in India Suffer From Thyroid Diseases.</p>
            </div> -->
        </div>
        <div class="d-flex justify-content-center tdt_btnbx text-center">
            <a class="btn btntdt_btn" href="{% url 'website:defficiency_assessment' %}" target="_blank">
                take Deficiency Test <i class="ri-arrow-right-line"></i>
            </a>
        </div>
    </div>
</section>