
{% extends "website/new_templates/components/frame.html" %}


{% load staticfiles %}
{% load image_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load category_saperator %}
{% load calculate_remainder %}
{% load category_tags %}
    {% block customheadend %}
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    {% endblock %}
{% block page-content %}



</section>

<section class="privacy-policy pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <!-- Terms list-->
        <dl class="list-terms list-terms-1">
          <dt class="heading-4">Scope and Application</dt>
          <dd>
            <ul>
            <li>
              Urban Nutrition Pvt Ltd, registered and incorporated in India under the Companies Act, 2013 having its registered office at Building No. 1505, Lower Ground Floor, Lane No. 3,

            Wazir Nagar, South Extension I, New Delhi, Delhi - 110003 (“Company”).

            The words/phrases/references to ‘we’, ‘us’ and ’our’ used herein this Privacy Policy shall refer to the Company.
            </li>
            <li>This Privacy Policy covers the practices for handling and securing your Information by the Company.</li>
            <li>This Privacy Policy is applicable to all persons who access, use, purchase any product or services from the Company (collectively, the

                “Services”) through our website (www.instaeats.in), and other online channels and through other interactions and communications with the

                Company or its agents or affiliates (collectively, the “Platform”). This Privacy Policy is applicable to all users of the Services viz. the Platform

                (“Users”). The words /phrases, references to ‘you’ and ‘your’ herein this Privacy Policy shall refer to the Users.
            </li>
            <li> By accessing or/ using the Services offered by the Company through the Platform, you expressly consent and confirm to the Company collecting, maintaining, using, processing and disclosing your Information in accordance with this Privacy Policy. If you do not agree with this Privacy Policy or the Terms of Use or any other policies of the Company published on the Platform at any time, kindly refrain from accessing or/and using such Services.</li>
            </ul>
          </dd>
          <dt class="heading-4">Commitment</dt>
          <dd>
            <ul>
            <li>The Company intends to protect the privacy of its Users accessing or using its Services on the Platform as the privacy of the Information provided by them to the Company from time to time.</li>
            <li>
            The privacy of our Users, whether they are our former or existing Users or merely a visitor of our Platforms, is important to us and we are strongly committed to your right to privacy and to keeping your personal and other information secure. We encourage the Users and visitors of our Platform to read this Privacy Policy in detail to understand the types of information we collect and how we use such information.
            </li>
            </ul>
          </dd>
          <dt class="heading-4">Collection of Information</dt>
          <dd>
            <ul>
              <li>For the purposes of rendering the Services, the Company may collect your Information from various channels including but not limited to voluntary submission of Information from your end in furtherance of accessing or using the Services through requests and communication initiated by you with the Company and third parties on the Platform.</li>
              <li>The minimum age for a User to be registered for the Services is the age of contractual consent under applicable laws or 18 years, whichever is lower. Our Services, in particular, are not directed at or are meant for persons under the age of 18. We hereby expressly assert that we do not intend to collect any information from any person under the age of 18.</li>
            </ul>
          </dd>
          <dt class="heading-4">Types of Information collected by the Company (“Information”)</dt>
          <dd>
            <ul>
              <li>
                Personally Identifiable Information (PII)
                <ul>
                  <li>PII, as used in information security and privacy laws, is information that can be used on its own or with other information to identify, contact, or locate a single person or to identify an individual in context. PII includes but is not limited to name, e-mail address, gender, date of birth, postal address, phone number, profile picture and other details shared via the Platform, by emails or any other medium.</li>
                  <li>Any information exchanged by you with the Company in the form of written communication, responses to emails, feedback provided, participation in discussions, etc. is handled with confidentiality and will be available for the exclusive use of the Company.</li>
                  <li>The Company may also collect specific Information from you when you access our Services through our Platform. For example, you may be asked to enter information about your address, delivery requirements and similar personal details. We may use this Information to customize our Services based on such Information as provided by you.</li>
                </ul>
              </li>
              <li>
                Non-Personal Information (NPI)
                <ul>
                  <li>NPI includes the IP address of the device used to connect to the Platform along with such other information such as browser details, operating system used, the name of the website that redirected the visitor to the Platform, etc. The Company requests you to note that when you access the Platform or receive emails or any communication from the Company, the Company and its permitted agents, use cookies and/or pixel tags to collect information and store your online preferences.</li>
                </ul>
              </li>
              <li>
                Other Information
                <ul>
                  <li>The Company may from time to time add or enhance or modify the Services available on the Platform. To the extent these Services are provided to and used by you, the Company will use the information provided by you in this regard to facilitate the access or use of the Services.</li>
                  <li>The Company may also collect other non-specific information to provide you better access to the Services each time such as preferences and other non-personal details names shared via the Platform by an email or any other medium. For instance, if you email us with a question or provide feedback, we will use your email address, name, nature of the question, feedback etc. to respond to your question or feedback. We may also store and publish such information to assist us in making the Platform better and easier to use.</li>
                </ul>
              </li>
              <li>Indicative modes of collection of Information
                <ul>
                  <li>When you visit our Platform: We collect industry standard data from everyone who visits our Platform in the form of aggregated data even if they do not have an account with the Platform. This includes log data that automatically records information about the customers’ visit such as the browser type, operating system, the URL of the page that referred the customers, the different actions performed and the IP address used to access pages on the sites. We use this type of information to provide you with an experience that is relevant to your location based on the IP address, to enhance the sites, to prevent site misuse, and to ensure the site is working properly. We also collect data from cookies.
                  </li>
                </ul>
              </li>
            </ul>
          </dd>
          <dt class="heading-4">Usage and sharing of Information</dt>
          <dd>
            <ul>
                 <li>The primary goal of the Company in collecting the Information is for the Company to render the Services to you and to ensure quality and efficiency in the Services offered and provided to you. Additionally, we will also be using the Information for our internal operational purposes, such as providing, maintaining, evaluating, and improving the Platforms and the Services, and also for providing customer support. We would also be sharing the information with others in the manner provided in this Privacy Policy.</li>
                 <li>Please note that the Company does not trade or sell your PII in any manner, except as specified herein or unless express consent is sought from you.</li>
                 <li>The Company, however, may share the collected Information with its subsidiaries, divisions, and affiliates, or with a third party as part of any sale, merger or acquisition. The Company will also share the Information with its service providers as may be required to provide you with the Services. In the interest of providing quality and efficiency in the Services, you agree to inform the Company of any changes to your PII and also undertake to protect the security of your username, password and PII in relation to the Platform and the Services.</li>
                 <li>The Company may also share any of your Information to authorized third parties/service partners to support your interaction with us, to offer you Services in the best possible manner and to contact you about other services that we may offer. By submitting your Information to the Company, you have expressly acknowledged and consented to the Company using such Information in a manner deemed fit by the Company, subject to this Privacy Policy. The Company shall also be entitled to use the Information for conducting data analysis, research based on reviews about deals, transfer to third party experts for the purpose of outsourcing any Services offered to you by the Company, etc.</li>
                 <li>
                  In addition to the disclosures reasonably necessary for the purposes identified above, the Company may disclose your PII to the extent that it is required to do so:
                  <ul>
                    <li>by law,</li>
                    <li>in connection with any legal proceedings or prospective legal proceedings,</li>
                    <li>in order to establish, exercise or defend its legal rights, </li>
                    <li>on account of a governmental or judicial request,</li>
                    <li>to enforce or apply our terms of use with you, or</li>
                    <li>to protect the rights or safety of the Company or its Users.</li>

                  </ul>
                 </li>
                 <li>Any NPI and data and analyses arising therefrom may be shared by the Company to its existing and potential partners, advertisers, investors, and others.</li>
                 <li>The Company may have presence on social networking websites including but not limited to LinkedIn, Facebook, Twitter, YouTube and blogs which are promotional and business initiatives to attract, engage and connect to a larger group of people. The domain links contained therein may either direct you to our Platform or request your participation by way of feedback, suggestions, etc. The Company, in this regard, fully disclaims any liability(ies) or claim(s), which may arise by use/misuse of your feedback, suggestions, views, etc. on any of the aforementioned networking websites or blogs, by any third party whether or not known to the Company.</li>
            </ul>
          </dd>
          <dt class="heading-4">Storage of Information</dt>
          <dd>
            <ul>
              <li>All Information collected in connection with the Services may be stored with the Company. Information is also stored on your device(s) and is subject to the security and privacy policies of your device and storage providers. Any breach of such security and privacy is beyond the control of the Company and you acknowledge that the Company cannot and will not be held responsible for such breaches of security or/and privacy.</li>
              <li>If the Company uses a vendor for storage of Information, all data

                    storage by the vendor will be subject to the vendor’s security systems and any breach of such privacy or /and security policies of the vendor will be beyond the reasonable control of the Company and the Company will not be held responsible for such breaches.
              </li>
              <li>You understand and agree that the Company may continue to store your Information after you cease use of the Services or disable your use of, access to, or otherwise of the Services or the Platform. Please note that the Company shall not use, share or/ and disclose your PII with its affiliates, vendors, third parties etc., after you cease use of the Services or disable your use of, access to, or otherwise of the Services or the Platform unless required by law to do so. The Company may however continue to use, share and/ or disclose your NPI in furtherance of its Policies.</li>
              <li>Cookies are small data files stored on your hard drive or in device memory. The Company uses cookies to improve and customize its Services and enhance your experience on the Platform and in relation to the Services. Please note that you can instruct your browser or device by changing its options to stop accepting cookies or to prompt you before

                  accepting a cookie from the Company’s Platforms. However, the Company finds it pertinent to mention that non-acceptance of cookies may restrict your access to benefit from all aspects of the Platform.
              </li>
            </ul>
          </dd>
          <dt class="heading-4"> Commitment to Security</dt>
          <dd>
            <ul>
              <li>The Company is committed in protecting your privacy and has taken all necessary and reasonable measures to protect your Information and handle the same in a safe and responsible manner in accordance with the terms and conditions of this Privacy Policy. The Company ensures to safeguard the security of your PII by implementing standard electronic and managerial processes to protect against unauthorized access to and unlawful interception of PII.</li>
              <li>The Company will ensure its best efforts to protect your Information available with the Company in line with commercially reasonable efforts and general industry standards; however, the Company does not represent, warrant, or guarantee that your Information will be protected against unauthorized access, loss, misuse, or alterations beyond the reasonable control of the Company and does not accept any liability for the security of the Information submitted to the Company or for your or
                  any third parties’ misuse of your Information.
              </li>
              <li>The Company may provide links to any other websites or locations for your convenience but the provision of such links does not signify our endorsement of such other websites or locations or content therein. The Company has no control over, does not review and cannot be responsible for these outside websites or the content therein. Please be aware that the terms of this Privacy Policy do not apply to these outside websites or locations or content therein.</li>
              <li>Except as provided elsewhere in this Privacy Policy, the Company provides limited access to PII to those persons (including employees and contractors) who have a business need for such access.</li>

            
            </ul>
          </dd>
          <dt class="heading-4"> Payment Related Details</dt>
          <dd>
            <ul>
              <li>The Company uses third party payment gateways for processing online payments. We do not store your credit card details or debit card details or your internet banking details on our servers. The payment data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing your payments. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction and is not saved thereafter.</li>
              <li>The payment gateway adopted by the Company adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.</li>
              <li>PCI-DSS requirements will help ensure the secure handling of payment data information by the Platform.</li>
              <li>Payment gateways and other payment transaction processors will have their own privacy policies in respect to the information you are required to provide to them and we are required to provide to them for your payment-related transactions, and as such, those details will be governed by their privacy policies.</li>
            </ul>
          </dd>
          <dt class="heading-4">Changes to the Privacy Policy</dt>
          <dd>
            We reserve the right to modify, amend, suspend, terminate or replace this Privacy Policy at any time within our sole discretion, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the Platform. If we make material changes to this Privacy Policy, we will notify you that it has been updated to enable you to review the materially-changed Privacy Policy.
          </dd>
          <dt class="heading-4">Grievances</dt>
          <dd>
            <ul>
              <li>In accordance with the relevant provisions of the Information Technology Act, 2000, and the rules made thereunder, the name and contact details of the Grievance Officer who can be contacted with respect to any complaints or concerns including those pertaining to breach of the Terms of Use, Privacy Policy and other polices of the Company are published as under:
                <address>
                  Name: Saurabh Tyagi <br>
                  Email address: saurabh@InstaEats.in<br>
                  Phone number: +91-8800945109<br>

                </address>
              </li>
              <li>The Grievance Officer can be contacted between 10am to 7pm from Monday to Friday except on public holidays.</li>
            </ul>
          </dd>
          <dt class="heading-4">Governing Law</dt>
          <dd>
            The Company is incorporated in, and based out of India, and is duty bound to abide by Indian laws. The Company may not have complied with some privacy laws of other countries and further represents to be unaware of such other legal requirements.
          </dd>
          <dt class="heading-4"> Questions and Contact Information</dt>
          <dd>If you would like to access, correct, amend or delete any of your Information which is with the Company, please register a complaint, or if you want more Information about this Privacy Policy, please contact us <a href="mailto:info@instaeats.in">info@instaeats.in</a>. The Company will respond to and address all reasonable concerns or inquiries in a reasonable amount of time.</dd>
        </dl>
      </div>
    </div>
  </div>
</section>



    <div class="snackbars" id="form-output-global"></div>
<!--    <script src="js/core.min.js"></script>-->
<!--    <script src="js/script.js"></script>-->
{% endblock page-content %}

{% block custombodyend %}
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');
    ShowLoader()
}); 


$(window).on("load", function () {      
    HideLoader()
})
    $(document).ready(function(){
        $("header").removeClass("header-creative-wrap");
        $("header").removeClass("context-dark");
    });
</script>
{% endblock %}